.Pcatalog{
    font-size: 3rem;
    line-height: 36px;
    color: #017a9b;
    text-align: center;
    font-weight: 300;
    margin-right: 50px;
    font-family: Open Sans,sans-serif;
    margin-top: 120px;
}
.searchbar
{
    font-size: 1rem;
    line-height: 28px;
    appearance: none;
    margin-bottom: 0;
    box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
    margin-top: 0;
    margin-bottom: 12px;
    width: 50%;
    outline: none;
    color: #6d7780;
    vertical-align: top;
    height: 3rem;
    border: 1px solid #dbe2e8;
    padding: 0 1.25rem;
    font-size: .875rem;
    font-family: Open Sans,sans-serif;
    border-right: none;
    margin-left: 50px;
    ;
}
.search{
    width: 25px;
    position:relative;
    margin-right:200px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: white;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-right: none;
    box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);

}
.searchbar1
{
    margin-left: 100px;
    margin-top: 50px;
}